src/main/java/com/systemintegrationexercises/_3/in_class/employees.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Reusable type for <degree> -->
    <xs:complexType name="DegreeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="level" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="higher"/>
                            <xs:enumeration value="intermediate"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Reusable type for <employee> -->
    <xs:complexType name="EmployeeType">
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="town" type="xs:string"/>
            <xs:element name="degree" type="DegreeType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Root element -->
    <xs:element name="employees">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="EmployeeType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>